.anime-info-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.anime-info-container h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.anime-info-container h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

.anime-info-container img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 20px;
}

.rankingContainer {
	display: inline;
	padding: 5px 10px;
	border-radius: 5px;
}

.genresContainer {
	margin-bottom: 20px;
}

.genresContainer p {
	display: inline;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
}

.anime-info-container p {
	font-size: 16px;
	margin-bottom: 10px;
}

.anime-info-container strong {
	font-weight: bold;
}

.anime-info-container div {
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.anime-info-container {
		padding: 10px;
	}
}
